.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:60%;height:33rem;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#pinList li {list-style: none;}
#pinList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#pinList .item span {display: block;margin-top:4px;}
#pinList .item h5, #pinList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#pinList .item .info{padding:10px 0 10px 55px;}
#pinList .info .gray {color:#8a8a8a;}
#pinList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#pinList .info .tel {color:#009900;}
#pinList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#pinList .item .marker_1 {background-position: 0 -10px;}
#pinList .item .marker_2 {background-position: 0 -56px;}
#pinList .item .marker_3 {background-position: 0 -102px}
#pinList .item .marker_4 {background-position: 0 -148px;}
#pinList .item .marker_5 {background-position: 0 -194px;}
#pinList .item .marker_6 {background-position: 0 -240px;}
#pinList .item .marker_7 {background-position: 0 -286px;}
#pinList .item .marker_8 {background-position: 0 -332px;}
#pinList .item .marker_9 {background-position: 0 -378px;}
#pinList .item .marker_10 {background-position: 0 -423px;}
#pinList .item .marker_11 {background-position: 0 -470px;}
#pinList .item .marker_12 {background-position: 0 -516px;}
#pinList .item .marker_13 {background-position: 0 -562px;}
#pinList .item .marker_14 {background-position: 0 -608px;}
#pinList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}