.img-profile {
  width: 100%;
  height: 100px;
}

.comment-userinfo {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.board-box {
  border: 5px solid #84ba3f;
  border-radius: 30px;
  padding: 20px;
  margin-top: 50px;
}

.board-box-modal {
  border: 5px solid #84ba3f;
  border-radius: 30px;
  padding: 20px;
  margin-top: 50px;
  background-color: white;
}

.button-like {
  border: 2px solid #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #8a8a8a;
  transition: all ease 0.4s;
  margin-right: 30px;
  height: 55px;
  width: 110px;
  font-size: inherit;
}

.button-like span {
  margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  background-color: transparent;
  border-color: #7e7e7e;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.button-like:hover {
  border-color: #ffc107;
  background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #ffc107;
}

.liked {
  background-color: #ffc107;
  border-color: #ffc107;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #ffc107;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: #ffc107;
  border-color: #ffc107;
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}

.title-liked-box {
  display: flex;
  justify-content: space-between;
}

.fa-times {
  font-size: 18px;
  margin-left: 7px;
}

.fa-edit,
.fa-lock,
.fa-save,
.fa-trash,
.fa-unlock {
  font-size: 40px;
}

.comments-1 .comments-info {
  width: 88%;
}

.comments-1 .comments-info .theme-color {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.comments-info p {
  font-size: medium;
}

.icons-box {
  display: flex;
}

.icons-box1 {
  display: flex;
  justify-content: space-between;
}

.icons-box button {
  border: none;
  background: none;
}

.icons-box1 button {
  border: none;
  background: none;
}

.fa-trash {
  color: #bf6447;
}

.fa-edit,
.fa-save {
  color: #3e59c3;
}

.user-email {
  background-color: #f7f7f7;
  padding: 20px;
}

.comments-info .fa-times {
  display: flex;
  flex-direction: row-reverse;
  color: #bf6447;
}

.port-post {
  position: relative;
}

.fa-times-rectangle {
  font-size: 30px;
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #bf6447;
}

.input-board-title {
  border: 3px solid gray;
  border-radius: 10px;
  background-color: #e8f4ff;
  color: black;
  padding: 10px;
  width: 100%;
}

.input-tag-box {
  display: flex;
}

.input-tag {
  padding: 10px;
  border-radius: 10px;
  font-size: medium;
  color: black;
  border: 3px solid gray;
  flex: 70;
}

.button-tag {
  padding: 10px;
  margin-left: 10px;
  border: 3px solid gray;
  border-radius: 10px;
  color: black;
  background-color: #e8f4ff;
  font-weight: bold;
  flex: 20;
  font-size: medium;
}

.fa-lock,
.fa-unlock {
  color: #626262;
}

.fa-lock:hover,
.fa-unlock:hover {
  color: #84ba3f;
}

.pin-thumbnail-img {
  width: 160px;
  height: 160px;
}

.modal-content {
  width: 900px;
  position: absolute;
  top: 50%;
  right: -3%;
}

.pin-thumbnail-img {
  width: 160px;
  height: 160px;
}

.img-fluid {
  height: 100px;
}

.modal-title {
  width: 800px;
}

.blog-entry .entry-image img {
  width: 800px;
  height: 400px;
}

.no-pins-message {
  display: flex;
  justify-content: center;
  text-align: center;
}

.pins-hovered {
  cursor: pointer;
  background-color: beige !important;
}

.no-tags-message {
  background-color: #f7f7f7;
  padding: 12px;
  display: flex;
  justify-content: center;
}

.modal-title-text {
  text-align: center;
  border-radius: 30px;
  padding: 5px;
  background-color: #84ba3f;
  color: white;
}

.lock-desc {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  color: gray;
  font-size: 15px;
}
